.about {

  h1 {
    color: $txtColor-wht;
  }

  h2.W-w-A {
    color: $txtColor-003300;
  }

  h2.why-us {
    color: $txtColor-003300;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h3.W-S-S-f-W-A {
    color: $txtColor-003300;
    font-family: $font-regular;
    margin: 0 0 40px 0;
  }
  
  h6.CmpNm {
    margin: 0px;
    color: $bgColor-86ea8f;
    line-height: 65px;
  }

  h6.W-c-U {
    color: $txtColor-wht;
    margin: 0;
    line-height: 70px;
  }

  .bgColor {
    background-color: $bgColor-86ea8f;
  }

  .bgColor-14a85c {
    background-color: $bgColor-14a85c;
  }

  .bgColor-eaedf2 {
    background-color: $bgColor-eaedf2;
  }

  ul {
    padding-top: 25px;
    padding-bottom: 75px;
  li {
    @include font (16px, $txtColor-777777, 100, $font-light);
    color: #777777;
    font-family: $font-light;
    font-size: 16px;
    }
  }

  .mrgCmpNm {
  margin-bottom: 32px;
  }

  .bgColor {
  ul {
    padding-top: 25px;
    padding-bottom: 45px;
  }
  ul li:before {
    color: $txtColor-wht;
    font-size: 16px;
  }
  li {
    color: $txtColor-wht;
    font-size: 16px;
    font-family: $font-light;
  }
  }

  .why-us-txt {
    color: $txtColor-777777;
    font-size: 13.66px;
    font-family: $font-light;
    line-height: 24px;
    margin: 0;
    text-align: justify;
  }




}