.footer-home

.margin-10 {
	margin: 0px 0 15px 0;
}

.padding-top-bottom-25 {
		padding: 25px 0 25px 0;
}

.bgfooter {
	background-color: #0ca95c;
}

.text-center {
	text-align: center;
}

.bglogo {
	text-align: center;
	border: 2px solid #ffffff;
	background-color: #ccd3dd;
	padding: 10px;
}

.contact {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.35px;
}

.contact a:hover {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
}

.text-border {
	border: 2px solid #eaedf2;
	padding: 15px 15px 0px 15px;
}

.text-footer {
	display: block;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 300;
}

button[type="try"] {
	width: 32px;
	height: 32px;
	border: 1px solid #cccccc;
	background-color: #e84c3d;
	color: #ffffff;
	position: relative;
	left: 82%;
	top: 16px;
}

.bgfooterdown {
	background: #4d4d4d;
}

.join-us-icon ol {
  display: block;
  padding: 0px;
  margin: 0px;
  line-height: 50px;
}

.join-us-icon li {
  display: inline-block;
  list-style-type: none;
}

.join-us-icon .join-us {
 font-size: 14px;
}

.copyright {
	text-align: center;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 50px;
}

.bgfooterdown {
	li{
		&:before{
			content: '';
		}
	}
}
