.backcolhed {
  background-color: #14a85c;
}

.hedrow{
  li{
    &:before{
      content: '';
    }
  }
}

.icon-call {
  background: url(../img/sprite.png) 0px -527px;
  width: 36px;
  height: 34px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}
.icon-toll {
  background: url(../img/sprite.png) 0px 0px;
  width: 35px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}
.texttel {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 51px;
  vertical-align: middle;
  margin-left: 10px;
}
.sk-tel {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
}

.sk-tel:hover {
  color: #ffffff;
  text-decoration: none;
}


.right {
  float: right;
  line-height: 50px;
}

a.fa-ravelry  {
  width: 40px;
  background: red;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

a.fa-ravelry:hover {
  width: 40px;
  background: yellow;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  box-shadow: 0 0 0 4px rgba(255,255,255,1);
  transition: background 0.2s, color 0.2s;
}

.right ol {
  display: block;
  padding: 0px;
  margin: 0px;
}

.right li {
  display: inline-block;
  list-style-type: none;
}

.join-us {
  font-size: 18px;
  font-weight: 400;
  vertical-align: middle;
  display: inline-block;
  color: white;
}

.socIcon {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
  color: white;
  font-size: 2em;
  margin-left: 10px;
}

.instagram {
  background-color: yellow;
}

.twitter {
  background-color: red;
}

.facebook {
  background-color: green;
}

a .instagram:hover {
  background-color: orange;
  color: black;
}

.no-pad {
  padding:0px;
}

  .menu {
  color: #003300;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  margin: 27px 3px 0 0;
    text-decoration: none;
}

  .menu:hover {
  color: #e94b3b;
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
outline: none;
margin: 27px 3px 0 0;
    text-decoration: none;
}

.backcolcent {
  background-color: #fff;
  margin: 15px 0 0 0;
}

.logo {
  background: url(../img/untitled-1.png) no-repeat;
  height: 90px;
}