.backcolfoot {
 background-color: #84eb8e;
 height: 453px;
 border: 2px solid #25c74d;
 border-top-width: 0px;
 border-left-width: 0px;
 border-right-width: 0px;
}

.imageback {
 height: 457px;
 background: url(../img/img-books-lamp.png) no-repeat 100% 30px,
 url(../img/img-boy.png) no-repeat -10px 136px,
 url(../img/light.png) no-repeat 72% 70px;
}

.marhed {
 margin: 35px 0 0 0;
}

.livechat {
 margin: 6px 0 0 0;
}

.imgchat {
 margin: 0 5px 0 5px;
}

.fa-chevron-right:before {
 content: "\f054";
 font-size: 13px;
}

.texthed {
 font-size: 52px;
 text-transform: uppercase;
 margin: 0;
 color: #ffffff;
 font-family: Montserrat;
 font-weight: 700;
 margin: 0 0px 0px 35px;
}

.textcent {
 margin: 30px 0 0 0;
 color: #ffffff;
 font-family: Montserrat;
 font-size: 36px;
 font-weight: 600;
 text-transform: uppercase;
 text-align: center;
}

.textfoot {
 margin: 40px 0px 0px 0px;
 padding: 0 0 0 330px;
 color: #003300;
 font-family: Montserrat;
 font-size: 27px;
 font-weight: 300;
 text-transform: uppercase;

}

.textfootnext {
 margin: 20px 0px 0px 315px;
 width: 318px;
 height: 48px;
 color: #003300;
 font-family: Montserrat;
 font-size: 20px;
 font-weight: 300;
 line-height: 24px;
}



.specoff {
 background-color: #14a85c;
}

.marfoot {
 margin: 10px 0 10px 0;
}

.offertext {
 margin: 0;
 color: #ffffff;
 font-family: Montserrat;
 font-size: 18px;
 font-weight: 400;
}

.discounts-text {
 width: 193px;
 height: 12px;
 color: #ffffff;
 font-family: Montserrat;
 font-size: 16px;
 font-weight: 300;
 line-height: 9.53px;
 text-transform: uppercase;
}


.icon {
 display: inline-block;
}

.icon-ad-icon-white {
 background-image: url(../img/sprite.png);
 background-position: 0px -3723px;
 width: 22px;
 height: 34px;
}
.icon-ad-icon {
 background-image: url(../img/sprite.png);
 background-position: center -2589px;
 width: 22px;
 height: 34px;
 }
.icon-ad-icon2-white {
 background-image: url(../img/sprite.png);
 background-position: 0px -3189px;
 width: 33px;
 height: 34px;
}
.icon-ad-icon2 {
 background-image: url(../img/sprite.png);
 background-position: 0px -2121px;
 width: 33px;
 height: 34px;
}
.icon-ad-icon3-white {
 background-image: url(../img/sprite.png);
 background-position: 0px -6401px;
 width: 24px;
 height: 40px;
}
.icon-ad-icon3 {
 background-image: url(../img/sprite.png);
 background-position: 0px -6941px;
 width: 24px;
 height: 40px;
}
.icon-ad-icon4-white {
 background-image: url(../img/sprite.png);
 background-position: 0px -1589px;
 width: 26px;
 height: 32px;
}
.icon-ad-icon4 {
 background-image: url(../img/sprite.png);
 background-position: 0px -1057px;
 width: 26px;
 height: 32px;
}
.icon-ad-icon5-white {
 background-image: url(../img/sprite.png);
 background-position: 0px -4257px;
 width: 33px;
 height: 35px;
}
.icon-ad-icon5 {
 background-image: url(../img/sprite.png);
 background-position: 0px -4792px;
 width: 33px;
 height: 35px;
}
.icon-ad-icon6-white {
 background-image: url(../img/sprite.png);
 background-position: 0px -5327px;
 width: 38px;
 height: 37px;
}
.icon-ad-icon6 {
 background-image: url(../img/sprite.png);
 background-position: 0px -5864px;
 width: 38px;
 height: 37px;
}
.icon-icon-call {
 background-image: url(../img/sprite.png);
 background-position: 0px -527px;
 width: 36px;
 height: 30px;
}
.icon-icon-toll {
 background-image: url(../img/sprite.png);
 background-position: 0px 0px;
 width: 35px;
 height: 27px;
}

.vidstyp {
 margin: 10px 0 0 0;
}

.text-a-b-c-d-e-f {
 line-height:15;
 text-decoration: none;
 text-transform: uppercase;
 }

.no-decoration:hover {
 text-decoration: none;
}

.our-a {
    height: 162px;
    border: 1px solid #cccccc;
    background-color: #86ea8f;
    text-align: center;
    background-position: center -2615px;
    display: block;
    width: 100%;
    color: #4e4e4e;
    background-repeat: no-repeat;
    text-decoration: none;
  }

.our-a:hover {
    background-position: center -3683px;
    background-color: #e84c3d;
    color: white;
    text-decoration: none;
}

.our-b {
 height: 162px;
 border: 1px solid #cccccc;
 background-color: #86ea8f;
 text-align: center;
 display: block;
 width: 100%;
 color: #4e4e4e;
 background-repeat: no-repeat;
 background-position: center -2081px;
}

.our-b:hover {
 background-position: center -3149px;
 background-color: #e84c3d;
 color: white;
}

.our-c {
 height: 162px;
 border: 1px solid #cccccc;
 background-color: #86ea8f;
 text-align: center;
 display: block;
 width: 100%;
 color: #4e4e4e;
 background-repeat: no-repeat;
 background-position: center -6901px;
}

.our-c:hover {
 background-position: center -6361px;
 background-color: #e84c3d;
 color: white;
}

.our-d {
 height: 162px;
 border: 1px solid #cccccc;
 background-color: #86ea8f;
 text-align: center;
 display: block;
 width: 100%;
 color: #4e4e4e;
 background-repeat: no-repeat;
 background-position: center -1017px;
}

.our-d:hover {
 background-position: center -1549px;
 background-color: #e84c3d;
 color: white;
}

.our-e {
 height: 162px;
 border: 1px solid #cccccc;
 background-color: #86ea8f;
 text-align: center;
 display: block;
 width: 100%;
 color: #4e4e4e;
 background-repeat: no-repeat;
 background-position: center -4752px;
}

.our-e:hover {
 background-position: center -4217px;
 background-color: #e84c3d;
 color: white;
}

.our-f {
 height: 162px;
 border: 1px solid #cccccc;
 background-color: #86ea8f;
 text-align: center;
 display: block;
 width: 100%;
 color: #4e4e4e;
 background-repeat: no-repeat;
 background-position: center -5824px;
}

.our-f:hover {
 background-position: center -5287px;
 background-color: #e84c3d;
 color: white;
}

.text-column {
 margin: 0px 0px 50px 0px;
 text-align: justify;
 color: #777777;
 font-family: Montserrat;
 font-size: 14px;
 font-weight: 300;
 padding:15px;
}

.column {
 column-count: 2;
 column-gap: 27px;
 column-width: 45%;

}

.how-it-works {
 height: 213px;
 background-color: #35dc44;
}

.text-hiws {
 width: 342px;
 height: 34px;
 color: #ffffff;
 font-family: Montserrat;
 font-size: 36px;
 font-weight: 400;
 line-height: 40px;
}

.centermar {
 text-align: center;
 margin: 70px 0 0 0;
}

.writser {
 margin: 0px;
 text-align: justify;
 color: #777777;
 font-family: Montserrat;
 font-size: 14px;
 font-weight: 300;
}

.center {
 text-align: center;
}

.bgliten {
  background: #86ea8f;
}

.h-i-w{
 span{
  @include font(36px, #fff, 400, $font-regular);
  color: #ffffff;
  display: block;
  text-align: center;
  margin: 60px 0 60px 0;
 }
 .HiW-block{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 1px solid #cccccc;
  background-color: #e84c3d;
  text-align: center;
  &:before{
   content: '';
   display: inline-block;
   width: 14px;
   height: 14px;
   border: 1px solid #333333;
   background-color: #666666;
   border-radius: 50%;
   position: relative;
   top: 13px;
   left: 2px;
  }
  &:after{
   content: '';
   display: inline-block;
   width: 2px;
   height: 63px;
   background-color: #666666;
   margin-top: 68px;
   position: relative;
   right: 6px;
  }
 }
 .HiW-text{
  @include font(16px, #4e4e4e, 400, $font-regular);
  color: #4e4e4e;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  margin-left: 10px;

 }
 //.round-green{
 //  width: 14px;
 //  height: 14px;
 //  border: 1px solid #333333;
 //  background-color: #14a85c;
 //  border-radius: 50%;
 //  margin: -6px 28px -7px;
 //}
 .border-bottom{
  border-bottom: 1px dashed #666666;
 }
 .HiW-block-center{
  text-align: center;
  //.round-green{
  //  margin: -6px 92px -7px;
  //}

 }
 .HiW-block-right{
  text-align: right;
  .round-green{
   margin: -6px 184px -7px;
  }
 }

.HiW-text-down {
 font-size: 16px;
 font-weight: 400;
 color: #4e4e4e;
 text-transform: uppercase;
 display: inline-block;
 margin-left: 10px;
}


}

