<main class="about">


    <div class="container-fluid bgColor">
    <div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1>about us</h1>
        </div>

    </div>
    </div>
    </div>

    <div class="container-fluid">
    <div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h2 class="W-w-A">Why we are?{h2}</h2>
        </div>

    </div>
    </div>
    </div>

    <div class="container-fluid mrgCmpNm">
    <div class="container">
    <div class="row bgColor-14a85c">

        <div class="col-lg-12">
            <h6 class="CmpNm">When you use CompanyName.com, this is exactly what you get</h6>
        </div>

    </div>

    <div class="row bgColor-eaedf2">
        <div class="col-lg-12">
            <ul>
                <li>An essay, research paper or term paper written for your academic level, whether that be high school, college, or graduate school</li>
                <li>Authentic research performed individually for the customer</li>
                <li>A work that is delivered by the deadline established</li>
                <li>Revisions, free of charge, until the customer is completely satisfied (unless there is a change of original instructions)</li>
                <li>A guarantee of originality, enforced by scanning each work for plagiarism, using the most current software for that purpose</li>
                <li>An emulation of the customer’s writing style, accomplished by allowing the customer to submit samples of his or her previous works.  The assigned writer can then use that as a model in producing the piece</li>
                <li>A secure and easy method of payment</li>
                <li>A guarantee of complete confidentiality for each customer</li>
                <li>A customer service staff that is available to resolve any issues, answer any questions, and provide price quotes, no matter how simple or complex the work may be Over 1000 academicians who create essays and research papers in their specific subject fields</li>
                <li>Resource use and citation as designated by the customer</li>
            </ul>
        </div>
    </div>

    </div>
    </div>

    <div class="container-fluid">
    <div class="container">
    <div class="row">

        <div class="col-lg-4 bgColor-14a85c">
            <h6 class="W-c-U">Why choose us</h6>

        <div class="row">
        <div class="col-lg-12 bgColor">
            <ul>
                <li>The largest source data base</li>
                <li>Any paper at any academic level</li>
                <li>96% Satisfied and returning customers</li>
                <li>A wide range of services</li>
                <li>MA/PhD writers</li>
                <li>24/7 Customer support</li>
                <li>Flexible discount program</li>
                <li>Free plagiarism report</li>
                <li>Double checked content</li>
                <li>Direct communication with a writer</li>
            </ul>
        </div>
        </div>
        </div>

        <div class="col-lg-8">
            <h2 class="why-us">Why us</h2>

        <div class="row">
        <div class="col-lg-12">
            <h3 class="W-S-S-f-W-A">What students seek for writing assistance?{h3}</h3>
        </div>
        </div>

        <div class="row">
        <div class="col-lg-12">
            <p class="why-us-txt">First, these students are very intelligent, because they know their limitations and are smart enough to look for assistancerather than simply ignore their struggles and suffer the consequences.</p>
            <p class="why-us-txt">Second, they may be facing multiple term or research paper assignments at once. They simply don’t have the time to complete them all at an acceptable level.</p>
            <p class="why-us-txt">There are many reasons to use our custom writing service rather than those scams out there. Such ghost-companies will disappoint you, or, worse, get you in serious trouble by submitting a plagiarized paper that can be easily found on the Internet.</p>




        </div>
        </div>

        </div>

    </div>
    </div>
    </div>

</main>