<script src="js/main.js"></script>

<div class="footer-home">
    <div class="container-fliid bgfooter">
        <div class="container">
            <div class="row padding-top-bottom-25">


                <div class="col-lg-3 text-center">
                    <div class="margin-10">
                        <a href="#"><img class="bglogo" src="img/logo-copy.png"></a>
                    </div>

                    <div class="contact margin-5">
                        <span>Call now:</span>
                        <a class="contact" href="tel: +10441470336">+1-044-147-0235</a>
                    </div>

                    <div class="contact margin-5">
                        <span class="email">Email:</span>
                        <a class="contact" href="mailto:companyname@gmail.com">companyname@gmail.com</a>
                    </div>

                    <div class="contact margin-5">
                        <span class="email">Email:</span>
                        <a class="contact" href="mailto:companyname@gmail.com">companyname@gmail.com</a>
                    </div>
                </div>


                <div class="col-lg-9">
                    <div class="text-border">
            <span class="text-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </span>
                        <button type="try"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="container-fliid bgfooterdown">
    <div class="container">
        <div class="row">


            <div class="col-lg-3 join-us-icon">
                <ol><!--
                --><li class="join-us">Join us:</li><!--
                --><a href="#"><li class="socIcon instagram"><i class="fa fa-instagram" aria-hidden="true"></i></li></a><!--
                --><a href="#"><li class="socIcon twitter"><i class="fa fa-twitter" aria-hidden="true"></i></li></a><!--
                --><a href="#"><li class="socIcon facebook"><i class="fa fa-facebook" aria-hidden="true"></i></li></a><!--
                --></ol>
            </div>

            <div class="col-lg-9 text-center">
                <span class="copyright">Copyright © 2016 CompanyName.com</span>
            </div>


        </div>
    </div>
</div>

</body>
</html>