button[type="livechat"] {
  width: 188px;
  height: 53px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  background: #0ca95c;
  padding: 8px 10px 8px 0;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

button[type="livechat"]:hover {
  background: #e84c3d;
  }

button[type="ordernow"] {
  position: relative;
  left: 51.4%;
  display: inline-block;
  font-size: 19px;
  width: 269px;
  height: 69px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background-color: #e84c3d;
  color: #ffffff;
  font-family: $font-regular;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  }

button[type="ordernow"]:hover {
  background: #fab916;
  }

button[type="discounts"] {
  width: 269px;
  height: 31px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background-color: #14a85c;
}

button[type="discounts"]:hover {
  background: #e84c3d;
}

button[type="read-more"] {
  width: 188px;
  height: 53px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  background-color: #14a85c;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}