$bgColorPrimary: #14a85c;
$bgColorSecondary: #86ea8f;
$bgColorTexth1: #003300;
$bfColorMenuText: #003300;
$bgColorButton: #e84c3d;
$bgColorAwesome: #4e4e4e;
$bgColorArticletext: #777777;
$bgColorKrug: #f2c40e;
$bgColorTwitter: #28c3ff;
$bgColorFaceBook: #496194;


$bgColor-86ea8f: #86ea8f;
$bgColor-14a85c: #14a85c;
$bgColor-eaedf2: #eaedf2;



$txtColor-wht: #ffffff;
$txtColor-003300: #003300;
$txtColor-777777: #777777;