body {
  @include font (14px, $bgColorPrimary, 400, $font-regular);
}

h1{
  @include font(36px,$bgColorTexth1,700,$font-bold);
  text-transform: uppercase;
  text-align: center;
}

h2 {
  @include font (36px, $bgColorTexth1, 400, $font-regular);
  text-align: center;
}

h3 {
  @include font (30px, $bgColorTexth1, 400, $font-regular);
  text-align: center;
}

h4 {
  @include font (28px, $bgColorTexth1, 400, $font-regular);
  text-align: center;
}

h5 {
  @include font (26px, $bgColorTexth1, 400, $font-regular);
  text-align: center;
}

h6 {
  @include font (24px, $bgColorTexth1, 400, $font-regular);
  text-align: center;
}

ul
  li {
  list-style: none;
  color: #777777;
  font-family: $font-light;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.3px;
  text-align: justify;

    }


ul
  li:before {
    color: #e94b3b;
    content: "\f054";
    font-family: FontAwesome;
    margin: 0 16px 0px -26px;
    }
